* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

form {
  background-color: #BDD5EA;
  padding: 10px;
}

#fname , #lname {
  background-color: #F7F7FF;
  border-radius: 4px;
  border-style: none;
  padding: 5px;
}

#submit {
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  color: #F7F7FF;
  background-color: #495867;
  border: none;
  border-radius: 4px;
}

